<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeedTheNeedy</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/external_stylesheets/home.css" />
  </head>

  <body class="d-flex text-center textcss bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3 mt-5">
        <h1 class="bold size">FeedTheNeedy</h1>
        <p class="lead font-weight-normal mt-5">
          Yor are most welcome to FeedTheNeedy <br />
          This website helps the needy people in finding free foodsites provided
          by generous peoples. <br />
          Help the needy by sharing foodsite you know so that food doesn't get
          wasted and needy will also get food.
        </p>
        <a
          href="/foodsites"
          class="btn btn-lg btn-secondary font-weight-bold border-white bg-info"
          >Explore FeedTheNeedy</a
        >
      </main>
      <div class="col mt-5">
        <% if(!currentUser) { %>
        <a
          href="/login"
          class="btn btn-lg col-xl-2 my-3 btn-secondary font-weight-bold border-white bg-primary"
          >Login</a
        >
        <a
          href="/register"
          class="btn btn-lg col-xl-2 my-2 btn-secondary font-weight-bold border-white bg-primary"
          >Register</a
        >
        <% } else { %>
        <a
          href="/logout"
          class="btn btn-lg col-xl-2 my-2 btn-secondary font-weight-bold border-white bg-primary"
          >Logout</a
        >
        <% } %>
      </div>
      <footer class="mt-auto text-black-75">
        <p>&copy;FTN 2022</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
