<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-dark text-center">New Foodsite</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/foodsites"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label text-dark" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="foodsite[title]"
          required
        />
        <div class="valid-feedback">Good to go</div>
      </div>
      <div class="mb-3">
        <label class="form-label text-dark" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="foodsite[location]"
          required
        />
        <div class="valid-feedback">Good to go</div>
      </div>

      <div class="mb-3">
        <label class="form-label text-dark" for="contact">Contact</label>
        <div class="input-group">
          <span class="input-group-text" id="contact-label">&#9742</span>
          <input
            type="text"
            class="form-control"
            id="contact"
            placeholder="1234567890"
            aria-label="contact"
            aria-describedby="contact-label"
            name="foodsite[contact]"
            required
          />
        </div>
        <div class="valid-feedback">Good to go</div>
      </div>

      <div class="mb-3">
        <label class="form-label text-dark" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="foodsite[description]"
          required
        ></textarea>
        <div class="valid-feedback">Good to go</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label text-dark" for="image">
            <span class="form-file-text custom-file-label"
              >Choose image(s)</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Foodsite</button>
      </div>
    </form>
    <a href="/foodsites">
      <button class="btn btn-info mb-2">Return back to Foodsites</button>
    </a>
  </div>
</div>
